.section-como-trabajamos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
    padding-top: 50px;
    
    /* height: 100%; */
}

.section-como-trabajamos-titulo {
    height: 100px;
    /* color: var(--color-2); */
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-como-trabajamos-titulo h2 {
    font-weight: 700;
}
.section-como-trabajamos h4 {
    font-weight: 700;
    font-size: calc(0.775rem + .9vw);
}

.titulo-como-trabajamos-1 {
    background-color: transparent !important;
    width: 100%;
    text-align: center;
    /* padding: 1% 0; */
    color: var(--color-4);
}
.titulo-como-trabajamos-2 {
    background: var(--color-2);
    width: 75%;
    text-align: center;
    /* padding: 1% 0; */
    color: var(--color-1);
    margin-top: 5%;
}

.como-trabajamos-container-1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-como-trabajamos-1, .container-como-trabajamos-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-como-trabajamos-1 {
    /* background-color: var(--color-2-1); */
    height: 100%;
    display: flex;
}
.container-como-trabajamos-2 {
    /* background-color: var(--color-2-1); */
    height: 100%;
    display: flex;
    
}

.como-trabajamos-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    width: 100%;
    height: 100%;
    /* background-color: var(--color-2); */
    /* color: #fff; */
}

.como-trabajamos-1-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    /* height: 35vw; */
}

.como-trabajamos-2-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    /* height: 35vw; */
}

.como-trabajamos-1 img {
    margin: 0 15%;
    width: 70%;
    cursor: pointer;
}

.como-trabajamos-1:hover .como-trabajamos-1-1 {
    visibility: hidden;
    display: none;
}

.descripcion-1-lista, .descripcion-2-lista {
    visibility: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.descripcion-1-lista {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100% !important;
}

.descripcion-2-lista {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    
}

.lista-1, .lista-2 {
    font-weight: 500;
    padding-left: 0 !important;
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.como-trabajamos-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    width: 100%;
    height: 100%;
    /* background-color: var(--color-5); */
}
.como-trabajamos-2 img {
    width: 70%;
    cursor: pointer;
}

.como-trabajamos-2 .como-trabajamos-2-1 {
    visibility: hidden;
    display: none;
}

.linea-1 {
    list-style: none;
    text-align: initial;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* height: 3vw; */
    /* width: 50%; */
    padding: 20px;
    margin: 2%;
    text-align: center;
    background-color: var(--color-2-2);
    /* border: solid var(--color-2) 1px; */
    margin-bottom: -1px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.12);
}

.linea-1 ion-icon, .linea-2 ion-icon {
    margin-right: 5px;
}

.linea-2 {
    list-style: none;
    text-align: initial;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* height: 3vw; */
    /* width: 50%; */
    padding: 20px;
    margin: 2%;
    text-align: center;
    background-color: var(--color-1);
    /* border: solid var(--color-1-2) 1px; */
    margin-bottom: -1px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.12);
}

.encabezado-como-trabajamos-1, .encabezado-como-trabajamos-2 {
    font-size: calc(0.475rem + .9vw);
    /* width: 100%; */
    margin-left: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.como-trabajamos-descripcion {
    font-size: calc(0.675rem + .5vw);
    font-weight: 500;
    /* margin-bottom: 100px; */
}

.icono-eventos, .icono-viajes {
    width: 5%;
}


/* 
@media (max-width: 1600px) {
    .como-trabajamos-descripcion {
        font-size: 90%;
    }
}

@media (max-width: 1400px) {
    .como-trabajamos-descripcion {
        font-size: 70%;
    }
}

@media (max-width: 1250px) {
    .como-trabajamos-container {
        flex-wrap: wrap;
    }
    .como-trabajamos-descripcion {
        font-size: 60%;
    }
}
 */


.accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--gris-2-2);
    background-color: transparent !important;
}
.accordion-item {
    width: 80%;
    margin: 0 10%;
    border-color: var(--azul-4) !important;
    /* border-radius: .375rem; */
    background-color: transparent !important;
}
.accordion-header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    width: 100%;
    text-align: center !important;
    padding: 1% 0 !important;
    color: var(--color-5);
    border-color: var(--color-2-1) !important;
    padding: 0 !important;
}
.accordion-button {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    width: 95% !important;
    text-align: center !important;
    color: var(--color-2);
    border-color: var(--color-2-1) !important;
}
.accordion-collapse {
    background-color: transparent !important;
}
.accordion-body {
    background-color: transparent !important;
    padding: 0 !important;
}

.accordion-button:not(.collapsed) {
    color: var(--color-2) !important;;
}

/* .accordion-header-1 {
    background-color: var(--blanco) !important;
}

.accordion-header-2 {
    background-color: var(--blanco) !important;
} */
