.navBar {
    background-color: var(--color-1);
    background-color: var(--blanco);
}

.container-nav {
    display: flex;
    flex-direction: column;
}

.navBarBrand {
    color: var(--negro) !important;
}

.navLink {
    color: var(--color-2) !important;
    font-weight: bold !important;
}

.navLink:hover {
    color: var(--color-4) !important;
}

.logo-inicial {
    animation: zoom-entrada 8s backwards;
    margin-bottom: 2%;
}

@keyframes zoom-entrada {
    0% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes zoom-salida {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}