.navBar {
    background-color: var(--color-1);
    background-color: var(--blanco);
}

.container-nav {
    display: flex;
    flex-direction: column;
}

.navBarBrand {
    color: var(--negro) !important;
}

.navLink {
    color: var(--color-2) !important;
    font-weight: bold !important;
}

.navLink:hover {
    color: var(--color-4) !important;
}

.logo-inicial {
    display: flex !important;
    visibility: visible !important;
    animation: zoom-entrada 8s backwards;
    margin-bottom: 4%;
}

.logo-responsive {
    display: none !important;
    visibility: hidden !important;
    margin-bottom: 4%;
}

.navbar-toggler {
    color: black !important;
}

.navbar-toggler-icon {
    background-color: var(--color-4-1) !important;
}

@keyframes zoom-entrada {
    0% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes zoom-salida {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@media (max-width: 1000px) {
    .container-nav {
        flex-direction: row !important;
    }
    .logo-inicial {
        display: none !important;
        visibility: hidden !important;
    }
    
    .logo-responsive {
        display: flex !important;
        visibility: visible !important;
        margin-bottom: 4%;
    }
}
