.section-nosotros { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 100px;
    /* height: 1000px; */
    width: 90%;
    margin: 5% 5%;
    background-color: var(--color-2-1);
}

.section-nosotros-titulo {
    height: 100px;
    color: var(--azul-4);
    width: 90%;
    margin: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 2mm ridge var(--azul-4);
}
.section-nosotros-titulo h2 {
    font-weight: 700;
}

.section-nosotros-descripcion {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.section-nosotros-descripcion img {
    max-width: 20%;
    transition-timing-function: linear;
}

.section-nosotros-descripcion h6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    width: 90%;
    margin-left: 10%;
    font-weight: 500;
    color: var(--color-3);
}

.section-nosotros-descripcion-span {
    width: 90%;
    margin: 5% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.section-nosotros-descripcion-span span {
    font-size: calc(0.775rem + 1.2vw);;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    width: 90%;
    margin: 0 5%;
    font-weight: 500;
    color: var(--color-3);
}




.section-nosotros-container-cards-1 {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.section-nosotros-container-cards-2 {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.section-nosotros-card-1 {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
}

.section-nosotros-card-2 {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -3% 5% 0 5%;
}

.section-nosotros-card-1 img, .section-nosotros-card-2 img{
    width: 100%;
    filter: drop-shadow(0 0 0.75rem var(--azul-1));
}

.section-nosotros-card-1 h5, .section-nosotros-card-2 h5 {
    color: var(--color-4);
}
.section-nosotros-card-1 h6, .section-nosotros-card-2 h6 {
    color: var(--azul-4);
}

.section-nosotros-card-1-descripcion {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2% 0 2% 15%;
    width: 60%;
    margin-top: -55px;
    margin-left: -20%;
    background: var(--color-2);
    filter: drop-shadow(0 0 0.75rem var(--color-2));
    color: var(--azul-1);
    font-size: calc(0.775rem + .5vw);
    font-weight: 500;
}

.section-nosotros-card-2-descripcion {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2% 15% 2% 3%;
    width: 60%;
    margin-top: -7%;
    margin-right: -20%;
    background: var(--color-2);
    filter: drop-shadow(0 0 0.75rem var(--color-2));
    color: var(--azul-1);
    font-size: calc(0.775rem + .5vw);
    font-weight: 500;
}

.display-6-configurado {
    font-size: calc(0.775rem + 1vw);
    /* animation: text-animation 5s; */
    animation: fadeIn 5s;
}


@media (max-width: 1350px) {
    .section-nosotros-container-cards-2 {
        margin-left: 20%;
    }
}