.section-clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
    padding-top: 50px;
    height: 100%;
}

.section-clientes-titulo {
    height: 100px;
    color: var(--azul-4);
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-bottom: 2mm ridge var(--azul-4);
}

.section-clientes-titulo h2 {
    font-weight: 700;
}

.container-clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.card {
    background-color: transparent !important;
    /* background-color: var(--gris-1) !important; */
    min-height: 500px;
}
.card-body {
    color: var(--azul-1);
    background-color: transparent !important;
}

.container-redes-sociales, .container-desarrollo {
    min-height: 310px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.redes-sociales, .desarrollo {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desarrollo img {
    max-width: 150px;
}

.card-text {
    color: var(--azul-4)
}
.card-title {
    color: var(--gris-4)
}

.card-header {
    background-color: var(--azul-2) !important;
    color: var(--gris-4) !important;
}