.copyright-container {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    color: #fff;
}

.container-colum-copy-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container-colum-copy-1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-colum-copy-1 a img {
    width: 5%;
}

.container-colum-copy-2 {
    font-size:medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container-colum-copy-2 a {
    color: #5cbcdb;
}