.section-servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
    padding-top: 50px;
    height: 100%;
}

.section-servicio-titulo {
    height: 100px;
    color: var(--azul-4);
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-bottom: 2mm ridge var(--azul-4);
}

.section-servicio-titulo h2 {
    font-weight: 700;
}

.titulo-servicio-1 {
    background: var(--gris-2);
    width: 75%;
    text-align: center;
    padding: 1% 0;
    color: var(--azul-1);
}
.titulo-servicio-2 {
    background: var(--gris-2);
    width: 75%;
    text-align: center;
    padding: 1% 0;
    color: var(--azul-1);
    margin-top: 5%;
}
.titulo-servicio-3 {
    background: var(--gris-2);
    width: 75%;
    text-align: center;
    padding: 1% 0;
    color: var(--azul-1);
    margin-top: 5%;
}

.servicios-container-1-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.servicios-container-1-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.servicios-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.servicios-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container-servicio-1, .container-servicio-2, .container-servicio-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 300px;
}

.container-servicio-1 {
    background-color: var(--azul-4-1);
}
.container-servicio-2 {
    background-color: var(--gris-2-1);
}
.container-servicio-3 {
    background-color: var(--azul-2-1);
}

.servicio-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;

    background-color: var(--azul-4);
}

.servicio-1 img {
    width: 100%;
    cursor: pointer;
}
.servicio-1:hover img {
    visibility: hidden;
    display: none;
}

.descripcion-1, .descripcion-2, .descripcion-3 {
    visibility: hidden;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 90%;
    height: 90%;

    border: solid black 1px;
}
.servicio-1:hover .descripcion-1 {
    visibility: visible;
    display: flex;
}
.servicio-2:hover .descripcion-2 {
    visibility: visible;
    display: flex;
}
.servicio-3:hover .descripcion-3 {
    visibility: visible;
    display: flex;
}

.servicio-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;

    background-color: var(--gris-2);
}
.servicio-2 img {
    width: 100%;
    cursor: pointer;
}
.servicio-2:hover img {
    visibility: hidden;
    display: none;
}

.servicio-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;

    background-color: var(--azul-2);
}
.servicio-3 img {
    width: 100%;
    cursor: pointer;
}
.servicio-3:hover img {
    visibility: hidden;
    display: none;
}

@media (max-width: 1200px) {
    .servicios-container {
        flex-wrap: wrap;
    }
}