html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(-45deg, var(--color-1), var(--color-1-1), var(--color-4), var(--color-6)); */
  /* background: linear-gradient(-45deg, var(--color-6), var(--color-5), var(--color-3), var(--blanco)); */
  background: linear-gradient(-75deg, #4C4C6D, #FFDCB8, #DEEDF0, #B8DFD8);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
}

code {
  font-family: "Raleway", sans-serif;
}

:root {
  --color-1: #B8DFD8;
  --color-1-1: #B8DFD88a;
  --color-1-2: #8ed6c9;
  --color-1-3: #93d3c9dc;
  --color-2: #4C4C6D;
  --color-2-1: #4c4c6d8a;
  --color-2-2: #7d7db18a;
  --color-3: #FFDCB8;
  --color-4: #FFBCBC;
  --color-4-1: #ff9b9b8a;
  --color-5: #DEEDF0;
  --color-6: #FEE8D7;
  --blanco: #ffffff;
  --negro: #000000;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}