body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

code {
  font-family: "Raleway", sans-serif;
}

:root {
  --color-1: #B8DFD8;
  --color-1-1: #B8DFD88a;
  --color-2: #4C4C6D;
  --color-2-1: #4c4c6d8a;
  --color-3: #FFDCB8;
  --color-4: #FFBCBC;
  --color-5: #DEEDF0;
  --color-6: #FEE8D7;
  --blanco: #ffffff;
  --negro: #000000;
}