.section-servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
    padding-top: 50px;
    height: 100%;
}

.section-servicio-titulo {
    height: 100px;
    color: var(--azul-4);
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 2mm ridge var(--azul-4);
}

.section-servicio-titulo h2 {
    font-weight: 700;
}

.titulo-servicio-1 {
    background-color: transparent !important;
    width: 100%;
    text-align: center;
    /* padding: 1% 0; */
    color: var(--azul-4);
}

.servicios-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.container-servicio-1-imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 300px;
    /* background-color: var(--azul-4-1); */
}
.container-servicio-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    /* background-color: var(--azul-4-1); */
}
.encabezado-servicio-1 {
    font-size: calc(0.775rem + .5vw);
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
}
.servicio-descripcion {
    font-size: calc(0.775rem + .3vw);
    font-weight: 500;
    /* color: var(--azul-4); */
    color: var(--gris-4);
}

@media (max-width: 1200px) {
    .servicios-container {
        flex-wrap: wrap;
    }
}

.accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--gris-2-2);
    background-color: transparent !important;
}
.accordion-item {
    width: 80%;
    margin: 0 10%;
    border-color: var(--azul-4) !important;
    /* border-radius: .375rem; */
    background-color: transparent !important;
}
.accordion-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    width: 100%;
    text-align: center;
    padding: 1% 0;
    color: var(--azul-4);
    border-color: var(--azul-1) !important;
}
.accordion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    width: 95%;
    padding: 0 2.5%;
    text-align: center;
    padding: 1% 0;
    color: var(--azul-4);
    border-color: var(--azul-1) !important;
}
.accordion-collapse {
    background-color: transparent !important;
}
.accordion-body {
    background-color: transparent !important;
}